/* .beer-header{
    text-align: center; 
     background-color: blue;
    color: blue;
} */ 

.background1 {
    background-color: aqua !important;
}


/* #beer-display {background-image: url("beermugimage.jpg");} */
.jumbotron {
    background-color: aqua; 
    font-family: 'Spicy Rice', cursive;
    padding: 0%;
    overflow: auto;
    position: relative;
    border-radius: 20px;
    box-shadow: 9px 13px 26px #000000bd;
    border: 2px solid #fff;
}
.absLeft{
    left: 0;
    position: absolute;
} 
.absRight{
    right: 0;
    position: absolute;
} 

.posRel{
    position: relative;
}

h1 {
line-height: 197px;
font-size: 90px;
font: bold;
color: chocolate;}

.beer {height: 100%;}
.left {float: left;}
.right {float: right;}
.middle {width: 33%;}
img{vertical-align:top}

*{
    box-sizing: border-box;
}
 
body {background-image: url("ben-ostrower-564571-unsplash.jpg");}

.box {
  float: left;
  width: 33.33%; /* three boxes (use 25% for four, and 50% for two, etc) */
  padding: 50px; /* if you want space between the images */
}

.card-body {
    background-image: url("stephen-frank-492607-unsplash.jpg");
    color: wheat;
}
.card-title {
    color: wheat;
    font: bold;
}
.card-text {
    color: wheat;
    font: bold;
}
.card-header {
    font-weight:bold;
    font-size: 20px;
    color: chocolate;
    background-color: aqua;
}

.Title2 {
    font-weight:bold;
    font-size: 20px;
    color: chocolate;
}

@media only screen and (max width: 320px) {
    .beerForm{
        max-width: 150px;
    }

}
